<?xml version="1.0" encoding="UTF-8"?>
<beans>


<!--    <bean id="loginService" class="com.whoiszxl.springframework.test.bean.LoginService" scope="prototype">-->
<!--        <property name="code" value="zxl-code"/>-->
<!--        <property name="memberDao" ref="proxyMemberDao"/>-->
<!--        <property name="type" value="QQ登录"/>-->
<!--        <property name="result" value="QQ登录成功"/>-->
<!--    </bean>-->

<!--    <bean id="proxyMemberDao" class="com.whoiszxl.springframework.test.bean.ProxyBeanFactory"/>-->


<!--    <bean class="com.whoiszxl.springframework.test.event.ContextRefreshedEventListener"/>-->
<!--    <bean class="com.whoiszxl.springframework.test.event.CustomEventListener"/>-->
<!--    <bean class="com.whoiszxl.springframework.test.event.ContextClosedEventListener"/>-->


    <bean id="helloService" class="com.whoiszxl.springframework.test.aop.HelloService"/>

    <bean class="com.whoiszxl.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="com.whoiszxl.springframework.test.aop.HelloServiceBeforeAdvice" />

    <bean id="methodInterceptor" class="com.whoiszxl.springframework.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="com.whoiszxl.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.whoiszxl.springframework.test.aop.IHelloService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>
</beans>